# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# CDK
cdk.out/
.cdk.staging/
cdk-outputs.json
lambda_layer/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

.aider*